@font-face {
  font-family: "robotomedium";
  src: url("Fonts/roboto-medium-webfont.woff2") format("woff2"),
    url("Fonts/roboto-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotothin";
  src: url("Fonts/roboto-thin-webfont.woff2") format("woff2"),
    url("Fonts/roboto-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "shrikhandregular";
  src: url("Fonts/shrikhand-regular-webfont.woff2") format("woff2"),
    url("Fonts/shrikhand-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
