$margin: 2em;
$medium: 769px;
$desktop-medium: "only screen and (min-width: #{$medium})";
$box-shadow: 0px 5px 10px 0px rgb(211, 211, 211);
$box-shadow-darker: 0px 5px 10px 0px rgb(190, 190, 190);
$icon-color-main: rgb(100, 100, 100);
$icon-color-secondary: #9356dc;
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$gap: 2em;
